@tailwind base;
@tailwind components;
@tailwind utilities;

/* COLOR THEME */
:root {
  --squareGreen: #85b282;
  --squareYellow: #e4bc59;
  --squareGray: #a7a4a2;

  --textNormal: #5c5957;
  --textBright: #fbfbfb;

  --logoBright: var(--squareYellow);
  --logoDark: var(--squareGray);
  --logoUnderline: var(--squareYellow);

  --borderNormal: var(--squareGray);
  --borderActive: var(--textNormal);

  --touchpadKeys: #dddee2;
  --touchpadLetters: var(--textNormal);

  --socialBorder: var(--squareYellow);
}

/* Custom utility classes */

.color-logoDark {
  color: var(--logoDark);
}
.color-logoBright {
  color: var(--logoBright);
}
.color-logoUnderline {
  border-color: var(--logoUnderline);
}
.color-borderNormal {
  border-color: var(--borderNormal);
}
.color-borderActive {
  border-color: var(--borderActive);
}
.color-textNormal {
  color: var(--textNormal);
}
.color-textBright {
  color: var(--textBright);
}
.color-squareGreen {
  background-color: var(--squareGreen);
  border-color: var(--squareGreen);
}
.color-squareYellow {
  background-color: var(--squareYellow);
  border-color: var(--squareYellow);
}
.color-squareGray {
  background-color: var(--squareGray);
  border-color: var(--squareGray);
}
.color-touchpadKeys {
  background-color: var(--touchpadKeys);
}
.color-touchpadLetters {
  color: var(--touchpadLetters);
}
.color-textInfoBlock {
  color: var(--textInfoBlock);
}
.color-socialBorder {
  border-color: var(--socialBorder);
}

.custom-flex-1\.8 {
  flex: 1.8;
}

.custom-headerSize {
  width: 256px;
}
@media (min-width: 640px) {
  .custom-headerSize {
    width: 296px;
  }
}

.custom-questionButtonSize {
  height: 1.75rem;
  width: 1.75rem;
}
@media (min-width: 640px) {
  .custom-questionButtonSize {
    width: 2rem;
    height: 2rem;
  }
}
