@tailwind base;
@tailwind components;
@tailwind utilities;

/* COLOR THEME */
:root {
  --logoBright: #5b7b59;
  --logoDark: #d6a427;
  --logoUnderline: #e4bc59;

  --borderNormal: silver;
  --borderActive: black;

  --textNormal: #5c5957;
  --textBright: #fbfbfb;

  --squareGreen: #85b282;
  --squareYellow: #e4bc59;
  --squareGray: #a7a4a2;

  --touchpadKeys: #dddee2;
  --touchpadLetters: black;

  --textInfoBlock: #555;

  --socialBorder: #e4bc59;
}

/* Custom utility classes */

.color-logoDark {
  color: var(--logoDark);
}
.color-logoBright {
  color: var(--logoBright);
}
.color-logoUnderline {
  border-color: var(--logoUnderline);
}
.color-borderNormal {
  border-color: var(--borderNormal);
}
.color-borderActive {
  border-color: var(--borderActive);
}
.color-textNormal {
  color: var(--textNormal);
}
.color-textBright {
  color: var(--textBright);
}
.color-squareGreen {
  background-color: var(--squareGreen);
  border-color: var(--squareGreen);
}
.color-squareYellow {
  background-color: var(--squareYellow);
  border-color: var(--squareYellow);
}
.color-squareGray {
  background-color: var(--squareGray);
  border-color: var(--squareGray);
}
.color-touchpadKeys {
  background-color: var(--touchpadKeys);
}
.color-touchpadLetters {
  color: var(--touchpadLetters);
}
.color-textInfoBlock {
  color: var(--textInfoBlock);
}
.color-socialBorder {
  border-color: var(--socialBorder);
}

.custom-flex-1\.8 {
  flex: 1.8;
}

.custom-boardSize {
  width: 256px;
  height: 308px;
}
@media (min-width: 640px) {
  .custom-boardSize {
    width: 296px;
    height: 356px;
  }
}

.custom-headerSize {
  width: 256px;
}
@media (min-width: 640px) {
  .custom-headerSize {
    width: 296px;
  }
}

.custom-questionButtonSize {
  height: 2rem;
  width: 2rem;
}
@media (min-width: 640px) {
  .custom-questionButtonSize {
    width: 2.25rem;
    height: 2.25rem;
  }
}
